# ----------------------------------------
# NPM
# ----------------------------------------

npm-debug.log
node_modules/


# ----------------------------------------
# Data
# ----------------------------------------
public/data.json
